.jumbotron {
  min-height: 60vh;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.page-background {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
