.card {
  max-width: 300px;
}

.offer-deck {
  justify-content: space-between;
}

.offer-img {
  max-height: 200px;
  margin: 0 auto;
  height: 100%;
}

.offer-image-wrapper {
  min-height: 200px;
  border-bottom: 1px solid #f7eeee;
}
