:root {
  --primary: #d19e0e;
  --mainWhite: #fff;
  --mainText: #636363;
  --mainText: #646464;
}

body {
  box-sizing: border-box;
  background: var(--mainWhite);
  color: var(--mainText);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.cart-icon {
  cursor: pointer;
  margin-left: 10px;
  color: var(--mainText);
  font-weight: bold;
}

.wrapper {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.nav-link {
  color: var(--mainText);
  font-size: 16px;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--mainWhite);
  padding: 10px 40px;
}
